<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>21787281337-c3uui2vnppruf7hc897mhrc7k14gdacn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.21787281337-c3uui2vnppruf7hc897mhrc7k14gdacn</string>
	<key>API_KEY</key>
	<string>AIzaSyCbhkK5_EuvV4WK3jSLTBBEP5dEFOTLqd8</string>
	<key>GCM_SENDER_ID</key>
	<string>21787281337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dragonFood</string>
	<key>PROJECT_ID</key>
	<string>dragonfood-9cec1</string>
	<key>STORAGE_BUCKET</key>
	<string>dragonfood-9cec1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:21787281337:ios:90d1c57600142f3efc5868</string>
</dict>
</plist>