<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>746530763459-b1r4uhs723cocngbrv9pnmiddgftrhpd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.746530763459-b1r4uhs723cocngbrv9pnmiddgftrhpd</string>
	<key>API_KEY</key>
	<string>AIzaSyCU1ldVIQWArjp73Rb3Z5VB7kfqJAKfpjY</string>
	<key>GCM_SENDER_ID</key>
	<string>746530763459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dragonFood</string>
	<key>PROJECT_ID</key>
	<string>dragonfood-4583f</string>
	<key>STORAGE_BUCKET</key>
	<string>dragonfood-4583f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:746530763459:ios:7d329bc8a75ce82101a876</string>
</dict>
</plist>